<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is index file</title>
</head>
<body>
    <h1>
        <center>
            <h1>Login</h1>
            Username:<input type="text"  id="uname"><br>
            Password:<input type="password" id="pwd"><br>
            <button type="button" id="login">Login</button>
            <h6>Not a user ? <a href="/register.html">click here</a> </h6>
        </center>
    </h1>
</body>
<script>
    // This is function for logging in by taking values from user

    $("#login").click(function (e) {
        

    })
</script>

</html>